<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'About Ionic'">
    <content has-header="true" has-tabs="true" padding="true">
        <img src="img/its.png">
        <p>
            UBorrow is an application that allows instructors to manage remote equipment cabinets for students enrolled in the instructor's course.  Items may be added, moved between cabinets, reserved and removed from active borrowing.  Authenticated students may open the cabinet via smartphone (texting option?).
        </p>
        <p>
            This is my entry for the 2014 University of Michigan <a href="https://its.umich.edu/mobile-challenge/" target="_blank">Mobile Apps Challenge</a>
        </p>

    </content>
</view>
