<!--
  This template loads for the 'tab.cabinet-detail' state (app.js)
  'cabinet' is a $scope variable created in the CabinetCtrl controller (controllers.js)
  The CabinetCtrl pulls data from the Cabinets service (service.js)
  The Cabinets service returns an array of cabinet data
-->
<view>
  <content has-header="true" padding="true">
      <div class="item item-divider">
          {{cabinet.name}}
      </div>
      <div class="item item-text-wrap">
          <p>{{ cabinet.description }}</p>
      </div>
      <div class="item item-divider">
          <p><a class="button button-small icon ion-arrow-left-b" href="#/tab/cabinets"> Back</a></p>
      </div>
  </content>
</view>
